main{
  .poster{
    display: flex;
    .poster-content{
      .main-content{
        margin-left: 266px;
        width: 510px;
        margin-top: 9px;
        .card-outline{
          border-radius: 12px;
        }
        .main-content-tab{
          display: flex;
          gap: 3px;
          width: 510px;
          height: 48px;
          padding: 3px;
          border-radius: 12px;
          background: #FFF;
          margin-bottom: 8px;
          li{
            padding: 13px 21px;
            cursor: pointer;
            border-radius: 12px;
            transition: 0.5s;
            color: #282828;
            font-size: 15px;
            font-weight: 500;
            line-height: 16px; /* 106.667% */
            &:hover{
              background: #A9FFE0;
            }
          }
        }
        .main-content-context{

          .card-st{
            h1{
              color: #131313;
              position: relative;
              font-size: 15px;
              font-weight: 400;
              letter-spacing: -0.3px;
              margin-top:-42px;
              padding-left: 40px;
            }
            .train-card-statistics{
              display: flex;
              position: relative;
              margin-top: 9px;
              z-index: 20;
              gap: 10px;
              background: rgba(255, 236, 65, 0.2);
              width: 504px;
              height: 54px;
              margin-left: auto;
              margin-right: auto;
              padding: 10px 37px;
              li{
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 2px;
                width: 90px;
                span{
                  color: #131313;
                  font-size: 11px;
                  font-weight: 400;
                }
                h3{
                  color: #131313;
                  font-size: 15px;
                  font-weight: 400;
                }
              }
            }

          }
          .train-card-records{
            margin-bottom: 3px;
            border-radius: 0 0 10px 10px;
            background: #A9FFE0;
            width: 504px;
            height: 54px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 11px 19px 11px 37px;
            margin-left: auto;
            margin-right: auto;
            button{
              background: transparent;
              border: none;
              cursor: pointer;
              color: #131313;
              font-size: 12px;
              font-weight: 400;
              letter-spacing: -0.24px;
            }
            .train-recorders{
              display: flex;
              align-items: center;
              gap: 14px;
              p{
                color: #131313;
                font-size: 15px;
                font-weight: 400;
                letter-spacing: -0.3px;
              }
              .recorders-img{
                img{
                  width: 30px;
                  height: 30px;
                  margin-right: -8px;
                  border: 1px solid #fff;
                  border-radius: 50px;
                  &:last-child{
                    margin-right: 0;
                  }
                }
              }
            }
            .all-recorders{
              display: flex;
              align-items: center;
              gap: 14px;
              img{
                width: 14px;
                height: 14px;
                margin-top: 2px;
              }
            }
          }
        }
      }
    }
  }
}



footer{
  z-index: 25;
  background: #F6F6F6;
  position: relative;
}