#article{
    padding-bottom: 55px;
    padding-top: 90px;
    background: #F6F6F6;
    z-index: 10;
    position: relative;
    h1{
        margin-bottom: 46px;
    }
    .article-contents{
        display: flex;
        flex-wrap: wrap;
        @media (min-width: 930px){
            display: grid;
            grid-template-columns: 66% 33%;
        }
        .content-left{
            display: grid;
            grid-template-columns: auto auto;
            height: 619px;
            .article-card{
                padding: 30px 37px 30px 30px;
                border: 1px solid #F6F6F6;
                background-color: #fff;
            }
        }
        .content-right{
            .article-card{
                height: 400px;
                padding: 30px 37px 30px 30px;
                border: 1px solid #F6F6F6;
                background-color: #fff;
                @media (min-width:930px) {
                    height: 619px;
                }
            }
            .card-title{
                margin-bottom: 26px;
            }
            span{
                display: inline-block;
                color: #131313;
                font-size: 15px;
                font-weight: 400;
                line-height: 19px; /* 126.667% */
                letter-spacing: -0.6px;
            }
            .card-desc-1{
                display: inline-block;
                margin-bottom: 26px;
            }
        }
        .content-left , .content-right {
            .article-card{
                position: relative;
                .card-data{
                    color: #131313;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: -0.64px;
                    margin-bottom: 20px;
                }
                .card-title{
                    color: #131313;
                    font-size: 20px;
                    font-weight: 400;
                    letter-spacing: -0.8px;
                }
                button{
                    position: absolute;
                    left: 30px;
                    bottom: 60px;
                    padding: 15px 25px;
                    border-radius: 100px;
                    border: 1px solid transparent;
                    color: #131313;
                    font-size: 16px;
                    font-weight: 400;
                    letter-spacing: -0.64px;
                    background: #FFF;
                    cursor: pointer;
                    transition: 0.5s;
                    &:hover{
                        border: 1px solid #E4E4E4;
                    }
                }
            }
        }
    }
}