.hide{
  display: none !important;
}
.confirm-content{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  background: rgb(0 , 0 ,0 , 0.5);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 250;
}

.confirm-group{
  max-width: 560px;
  width: 100%;
  height: 480px;
  padding: 37px 63px 61px 57px;
  display: block;
  align-items: start;
  background: #fff;
  border-radius: 6px;
  h3{
    color: #282828;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 44px;
  }
  p{
    color: #282828;
    font-size: 13px;
    font-weight: 500;
    width: 283px;
    margin-bottom: 24px;
    span{
      background: #A9FFE0;
    }
  }
  .confirm-check-content{
    margin-bottom: 22px;
    h4{
      color: #282828;
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 12px;
    }
    .confirm-check-type{
      display: flex;
      max-width: 440px;
      width: 100%;
      height: 54px;
      padding: 1px;
      border-radius: 7px;
      border: 1px solid #E3E4E8;
      background: #FFF;
      justify-content: space-between;
      transition: 0.5s;
      .type-left , .type-right{
        max-width: 220px;
        gap: 8px;
        width: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        color: #121212;
        text-overflow: ellipsis;
        font-size: 15px;
        font-weight: 600;
        transition: 0.5s;
      }
      .active{
        border-radius: 6px;
        background: #A9FFE0;
        transition: 0.5s;
      }
    }
  }
  label{
    margin-bottom: 12px;
    span{
      display: inline-block;
      color: #282828;
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 10px;
    }
    input{
      margin-bottom: 23px;
      max-width: 440px;
      width: 100%;
      height: 54px;
      padding: 18px 20px;
      border-radius: 7px;
      border: 1px solid #E3E4E8;
      background: #FFF;
      outline: none;
      &::placeholder{
        opacity: 0.3;
      }
    }
  }
  .confirm{
    max-width: 440px;
    width: 100%;
    height: 54px;
    border-radius: 7px;
    background: #121212;
    border: none;
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 46px;
  }
  .input-groups{
    display: flex;
    gap: 14px;
    input{
      width: 44px;
      height: 54px;
      border-radius: 7px;
      border: 1px solid #E3E4E8;
      background: #FFF;
      display: flex;
      padding: 18px;
      align-items: center;
      justify-content: center;
    }
  }

  .send-password{
    color: #282828;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
  }
  .google-confirm{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    gap: 4px;
    width: 120px;
    height: 54px;
    border-radius: 67px;
    border: 1px solid #E4E4E4;
    background: #FFF;
    cursor: pointer;
    color: #121212;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 27px;
    img{
      width: 24px;
      height: 24px;
    }
  }
  .enter{
    display: flex;
    justify-content: center;
    gap: 4px;
    max-width: 440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    button{
      background: none;
      border: none;
      color: #121212;
      font-size: 15px;
      font-weight: 500;
      cursor: pointer;
    }
    .enter-btn-2{
      width: 56px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #A9FFE0;
    }
  }
}