

.search-input{
    position: relative;
    width: 100%;
    letter-spacing: -0.64px;
    font-size: 16px;
    margin-top: -62px;
    margin-bottom: 38px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    color: #131313;
    transition: 1s;
    z-index: 200;
    width: 294px;
    height: 46px;
    border-radius:50px;
    background: #fff;
    margin-left: -15px;
    input{
        padding: 5px 10px 3px 38px;
        font-size: 16px;
        border-radius: 50px;
        max-width: 500px;
        width: 100%;
        background-color: transparent;
        border: none;
        outline: none;
    }
    .search-btn{
        position: absolute;
        cursor: pointer;
        border: none;
        background-color: transparent;
        left: 15px;
        width: 18px;
        height: 18px;
    }
}

.search-content{
    position: relative;
    .search-content-cards{
        background: red;
    }
}