.train-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:10px;
  margin-bottom: 48px;
  margin-top: 34px;
  position: relative;
  .card-outline{
    position: relative;
    background: #fff;
    width: 100%;
    overflow: hidden;
    border-radius: 2px;
    margin-bottom: 5px;
    @media (min-width:800px) {
      justify-content: start;
      align-items: start;
      max-width: 510px;
      width: 100%;
      padding-bottom: 10px;

    }

  }
  .train-card {
    position: relative;
    display: inline-block;
    border:none;
    border-radius: 2px;
    padding: 30px 10px 20px;
    background-color: #fff;
    max-width: 487px;
    width: 100%;
    margin-bottom: 20px;
    @media (min-width:800px) {
      max-width: 487px;
      padding: 40px 20px 52px 40px;
    }
    .design-title{
      border: 1px solid #E4E4E4;
      background-color: #fff;
      padding: 12px 22px;
      border-radius: 100px;
    }
    .train-date-contents {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 6px;
      .train-date {
        display: flex;
        gap: 3px;
        align-items: center;
        p {
          color: #131313;
          font-size: 15px;
          font-weight: 400;
          letter-spacing: -0.3px;
        }
        .line {
          font-weight: 500;
          font-size: 12px;
          color: #131313;
        }
      }
      a {
        padding: 12px 22px;
        border: 1px solid #e4e4e4;
        background: #fff;
        border-radius: 61px;
        color: #131313;
        font-size: 15px;
        font-weight: 400;
        line-height: normal;
      }
    }
    .train-titles {
      margin-bottom: 22px;
      //display: grid;
      //grid-template-columns:1fr;
      display: flex;
      flex-direction: column;
      align-items: start;
      cursor:pointer;
      margin-left: 0 !important;
      padding-left: 0;
      h1{
        display: inline-block;
        padding-right: 5px;
        color: #131313;
        font-size: 24px;
        font-weight: 500;
        line-height: 28px; /* 116.667% */
        letter-spacing: -0.48px;
        transition: 0.5s;
        text-align: left !important;
        margin-left: 0 !important;
      }
      .bottom{
        text-align: left !important;
        display: inline-block;
      }
    }
    .trainers {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      .img-2 {
        margin-left: -12px;
      }
      .trainer-img {
        position: relative;
        width: 80px;
        height: 80px;
        border: 2px solid #fff;
        border-radius: 50px;
      }
    }
    .training-infos {
      display: flex;
      gap: 24px;
      margin-bottom: 33px;
      overflow: hidden;
      div {
        display: flex;
        flex-direction: column;
        align-items: start;
        span {
          color: #131313;
          font-size: 11px;
          font-weight: 400;
        }
        color: #131313;
        font-size: 15px;
        font-weight: 400;
        a{
          color: #131313;
          font-size: 15px;
          font-weight: 400;
          transition: 0.5s;
          border-bottom: 1px solid transparent !important;
          &:hover{
            border-bottom: 1px solid #131313 !important;
          }
        }
        
      }
      .train-price{
        a{
          width: 80px;
        }
      }
      .train-location{
        a{
          display: inline-block;
          margin-left: -10px;
          overflow: hidden;
          display: -webkit-box;
          align-items: start;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          max-width: 163px;
          width: 100%;
        }
      }
    }
    .train-subtitle {
      color: #131313;
      font-size: 10px;
      font-weight: 400;
      letter-spacing: -0.2px;
      opacity: 0.4;
      text-align: left;
    }

    .train-video-res {
      position: absolute;
      bottom: -10px;
      right: -112px;
      width: 64px;
      height: 64px;
      border-radius: 50px;
      z-index: 10;
      @media (min-width:1331px) {
        display: none;
      }
      .mute-res {
        display: block;
        background-color: transparent;
        position: absolute;
        bottom: 90px;
        left: 58px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        fill: rgba(255, 255, 255, 0.03);
        stroke-width: 1px;
        stroke: rgba(255, 255, 255, 0.1);
        border: 2px solid #ffffff2d;
        backdrop-filter: blur(12px);
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 1000;
        img {
          width: 24px;
          height: 24px;
        }
      }
      .video-res {
        position: relative;
        right: 0;
        bottom: 0;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        object-fit: cover;
        transition: 0.5s;
      }
    }

    &:hover{
      .train-video-res{
        width: 148px;
        height: 148px;
        bottom: -20px;
        right: -142px;
        .video-res{
          height: 148px;
          width: 148px;
          right: 0;
          bottom: 0;
        }
        .mute-res{
                animation: myfirst2-res 1s forwards;
                transition: 0.5s;
                bottom: -50px;
                left: 58px;
                @keyframes myfirst2-res {
                  from {
                    bottom: 54px;
                    left: 60%;
                    width: 0;
                    height: 0;
                    display: none;
                  }
                  to {
                    bottom: 9px;
                    width: 32px;
                    height: 32px;
                    left: 50%;
                    display: flex;
                  }
                  }
                  img{
                    width: 16px;
                    height: 16px;
                  }
                }
      }
    }

    .train-video {
      position: absolute;
      top: 97px;
      right: 0px;
      width: 0px;
      height: 0px;
      border-radius: 50px;
      z-index: 10;
      @media (min-width: 1331px) {
        display: block;
      }
      .mute {
        background-color: transparent;
        position: absolute;
        bottom: 54px;
        left: 58px;
        width: 0px;
        height: 0px;
        border-radius: 50%;
        fill: rgba(255, 255, 255, 0.03);

        stroke-width: 1px;
        stroke: rgba(255, 255, 255, 0.1);
        border: 2px solid #ffffff2d;
        backdrop-filter: blur(12px);
        align-items: center;
        justify-content: center;
        cursor: pointer;
        img {
          width: 0px;
          height: 0px;
        }
      }
      .video {
        position: relative;
        top: 74px;
        right: 74px;
        width: 0px;
        height: 0px;
        border-radius: 50%;
        object-fit: cover;
        transition: 0.5s;
      }
    }

    &:hover {
      .train-video {
        display: none;
        @media (min-width: 1331px) {
          display: block;
        }
        .video {
          display: inline-block;
          position: absolute;
          top: 0px;
          right: 0px;
          border-radius: 50%;
          object-fit: cover;
          animation: myfirst 0.5s forwards;
          transition: 1s;
          @keyframes myfirst {
            from {
              top: 14px;
              right: -15px;
              width: 148px;
              height: 148px;
            }
            to {
              top: 0;
              right: -15px;
              width: 148px;
              height: 148px;
            }
          }
        }
        .mute{
          animation: myfirst2 1s forwards;
          transition: 0.5s;
          @keyframes myfirst2 {
            from {
              bottom: 54px;
              left: 60%;
              width: 0;
              height: 0;
              display: none;
            }
            to {
              bottom: 9px;
              width: 32px;
              height: 32px;
              left: 50%;
              display: flex;
            }
          }
          img{
            width: 16px;
            height: 16px;
          }
        }
      }
      .video-content{
        width: 100%;
        height:100px;
        position: relative;
        left: 0;
      }
    }
  }
}

.add-train-btn {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.52px;
  width: 100%;
  border-radius: 2px;
  height: 40px;
  border-radius: none;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #fff;
}
