.search-input{
    position: relative !important;
}

#hero{
    padding-top: 80px;
    margin-top: 10px;
    position: relative;
    .hero-content{
    }
    .category-training{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        max-width: 662px;
        width: 100%;
        gap: 10px;
        z-index: 200;
        margin-bottom: 30px;
        li{
            margin-right: 10px;
            a{
                color: #131313;
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.64px;
            }
        }
    }
    .category-fixed{
        position: fixed;
        z-index: 200;
        top: 16px;
    }
    .none{
        display: none;
    }
    .space{
        height: 78px;
    }
    .adv-content{
        position: relative;
        border-radius: 2px;
        height: 90px;
        width: 100%;
        object-fit: cover;
        object-position: center;
        img{
            border-radius: 2px;
        }
    }
}

#category{
    padding-top: 32px;
    padding-bottom: 80px;
    .category-infos{
        display: flex;
        align-items: center;
        gap: 30px;
        margin-bottom: 34px;
        li{
            a{
                display: flex;
                align-items: center;
                gap: 7px;
                color: #131313;
                text-align: center;
                font-size: 16px;
                font-weight: 400;
                letter-spacing: -0.64px;
            }
        }
    }
}

#speaker{
    padding-top: 100px;
    padding-bottom: 80px;
    .speaker-content{
        display: grid;
        grid-template-columns: 426px 540px;
        justify-content: space-between;
        .content-left{
            h1{
                color: #131313;
                font-size: 42px;
                font-weight: 400;
                letter-spacing: -1.68px;
                margin-bottom: 34px;
                text-transform: uppercase;
            }
            p{
                color: #131313;
                font-size: 15px;
                font-weight: 400;
                line-height: 19px; /* 126.667% */
                letter-spacing: -0.6px;
                margin-bottom: 34px;
            }
            button{
                padding:15px 25px;
                margin-top: 54px;
                border-radius: 100px;
                border: 1px solid #E4E4E4;
                color: #131313;
                font-size: 16px;
                font-weight: 400;
                letter-spacing: -0.64px;
                cursor: pointer;
                background-color: transparent;
            }
        }
        .content-right{
            display: grid;
            grid-template-columns: auto auto auto;
            .speaker-img{
                position: relative;
                width: 180px;
                height: 180px;
            }
        }
    }
}